.amenity-btn {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #f8f9fa; // light grey
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
}

.amenity-selected {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}


.elegant-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.elegant-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 12px;
}